.card {
    height: 450px;
    width: 280px;
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    background: rgb(200, 190, 38);
    text-align: center;
    border-radius: 10px;
    /* box-shadow: 2px 3px 5px 5px rgb(131, 126, 126); */
    cursor: pointer;

}




.dp img {
    height: 80px;
    object-fit: cover;
    margin-top: 10px;
}

.name {
    color: black;
    font-weight: 500;
}

.imgs {
    margin-top:50px;
    height: 230px;
    width: 95%;
    /* border: 1px solid #eaeaea; */
    display: flex;
    flex-wrap: wrap;
}

.imgs img{
 padding: 2px;
height: 120px;
}