.contact {
  height: 350px;
  width: 100%;
  /* border: 1px solid red; */
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.contactHeading {
  font-size: 30px;
  text-shadow: 2px 4px 5px #ccc;
  color: hotpink;

}

.contactSocialMedia {

  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 30px; */
}

.socialMediaIcon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  /* margin-top: 30px; */
  /* margin-right: 50px; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;

}

.socialMediaIcon div{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.socialMediaIcon div strong{
  margin-left: 40px;
  color: hotpink;
}

.socialMediaIcon img {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  cursor: pointer;
}

/* .signup{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  border: 1px solid red;
}
.signup strong{
  color: hotpink;
  font-size: larger;
  text-shadow: 2px 4px 5px #ccc;
} */