.footerBottom{
  height: 100px;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px
}
.footerBottom div{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid red; */
  align-items: center;
  width: 300px;
  color: hotpink;
  font-size: medium;
  font-weight: bolder;
}


