.screen{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #fedacc,rgb(240, 174, 229),rgb(255, 172, 176));   
}

.logo{
  height: 100px;
  margin-top: 60px;
}

.logo img{
  height: 100px;
}